:root {
    /* background */
    --c-main-light: rgb(177, 168, 121);
  
    /* text */
    --txt-dark: #253045;
  }

.body{
    background: var(--c-main-light);
}

  .main-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    color: var(--txt-dark);
  }

  .cubics-wrapper{
      /*
      display: grid;
      justify-content: center;
      grid-template-columns: 50px 50px 50px 50px 50px;
      grid-template-rows: 50px 50px 50px 50px 50px;
      margin-top: 50px;
      */
  }

  .cubic-container{
      /*
      display: grid;
     height: 50px;
     width: 50px;
      background-color: var(--c-cubic);
      border: solid 2px;
      */
  }
  