body{
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

img{
    z-index: -1;
    position: relative;
}

.buttons-wrapper{
    z-index: 2;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    top: 50%;
    
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px;
    color: cadetblue;
    text-shadow: crimson 2px 2px;
    /* background-color: cadetblue; */
}

.single-button{
    display: flex;
    flex-direction: column;
    border: solid  black 2px;
    border-radius: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
}
:hover.single-button{
    background-color: crimson;
}

kbd{
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}
